{% extends 'base.html.twig' %}

{% block title %}Secret Santa - Who will get a present ?{% endblock title %}

{% block body %}
<div id="app" class="col-sm-12 text-center">
    <h1>Secret Santa</h1>
    <form method="POST" v-if="!drawn">
        <div class="input-field">
            <input type="text" name="login" placeholder="Identifiant" v-model.trim="login"/>
        </div>
        <div class="input-field">
            <input type="text" name="birthdate" placeholder="JJ / MM / YYYY" v-model="birthdate" @keyup="formatBirthdate" maxlength="14"/>
        </div>

        <button type="submit" @click.prevent="draw"><i class="glyphicon glyphicon-chevron-right"></i></button>
    </form>
    <transition name="fade">
        <div v-if="drawn">
            <div class="glyphicon glyphicon-gift"></div>
            <h2>Caleb Radens</h2>
        </div>
    </transition>

</div>

{% endblock body %}