{% extends 'base.html.twig' %}

{% block title %}Add Entrant{% endblock %}

{% block body %}
<div id="create-form">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}
